.main {
  max-width: 400px;
  min-height: 450px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 0 10px gray;
}

.header {
  background-color: #fff;
  border-bottom: 1px dashed #2f6fb7;
}

.header img {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  width: 100%;
}

.container {
  padding: 15px 10px 0;
}

.income-expense{
  margin: 10px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  background-color: #fff;
}
.income-expense .totals {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.income-expense .balance {
  width: 100%;
  text-align: center;
}
.income-expense .totals div p img {
  width: 16px;
}

.income-expense .totals div p {display: flex;align-items: center;justify-content: center;font-weight: bold;margin-bottom: 5px;font-size: 14px;}

.income-expense .totals div span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 500;
}

.income-expense .totals .expensenarrow {
  width:45%;
  background-color: #ff426c;
  color: #fff;
  border-radius: 5px;
}

.income-expense .totals .incomenarrow {width:45%; background-color: #2f6fb7;color: #fff; border-radius: 5px;}

.income-expense .balance h3 {
  font-size: 15px;
  color: gray;
  margin-bottom: 0;
}

.income-expense .balance h3 span {
  display: block;
  margin: 5px 0;
  font-size: 30px;
  font-weight: bold;
  color: #000;
}

.history h3 {
    font-size: 14px;
    color: grey;
    margin-top: 0;
}

.transaction-list > li i.delete {
  display: none;
}

.transaction-list > li span.amount {
  text-align: right;
}

.transaction-list > li p {
  margin: 0;
}
.transaction-list > li:hover i.delete {
  display: block;
  font-style: inherit;
  padding: 0 5px;
  background-color: red;
  color: #fff;
  font-weight: 700;
  margin-right: 10px;
  cursor: pointer;
}

li.grouup-listing.income {border-right: 7px solid green;}

li.grouup-listing.expense {
  border-right: 7px solid red;
}

.transaction-list > li:first-child {border-top-left-radius: 3px;border-top-right-radius: 3px;}

.transaction-list > li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.form {
  padding: 15px 0;
}

.form h3 {
    font-size: 14px;
    color: grey;
}


.text-center{
  text-align: center;
}



.transaction-list{
  margin: 0;
  padding: 0;
}

.transaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px gray;
  background-color: #fff;
  padding: 10px;
  font-size: 13px;
}

.transaction-form input{
  width: 96%;
  margin: 10px 0;
  padding: 5px;
  box-shadow: 0 0 1px #000;
  border: none;
}
.transaction-form label {
  font-size: 14px;
  font-weight: 500;
}
.transaction-form input[type="submit"] {
  margin: 20px auto 0;
  width: 100%;
  background-color: #2f6fb7;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border-radius: 4px;
}
.footer {
  padding: 10px;
}

.footer h3 {
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h3 img {
  width: 16px;
}

.footer h3 span {
  font-weight: 700;
}